# Yarn
.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
**/report.xml
.metals

# sbt
target
dist

# Others
.DS_Store
*.log
result
.bsp/
.idea/
.nix/
.env
.direnv/
.vscode/
!.vscode/settings.json
.bloop/
metals.sbt

archive_info.txt
libmidnight_zswap_c_bindings_v*.*


# Build
*.tsbuildinfo
*.local
coverage
.turbo
packages/*/*.tgz
.rollup.cache

# reports
reports
allure-results

# user files
**/.sync_cache
