# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
**/report.xml

# sbt
target
dist

# Others
.DS_Store
*.log
result
.bsp/
.idea/
.nix/
.env
.direnv/
.vscode/
.bloop/
metals.sbt

libmidnight_zswap_jnr.*
