name: CD

env:
  NEXUS_TOKEN: ${{ secrets.NEXUS_TOKEN }}
  MIDNIGHTBOT_PACKAGES_WRITE: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}
  GH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

on:
  push:
    tags: ['v*']

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Prepare .netrc to access other repos
        run: echo -e "machine github.com\nlogin git\npassword ${{ secrets.GH_TOKEN }}\n\nmachine api.github.com\nlogin git\npassword ${{ secrets.GH_TOKEN }}" > ~/.netrc && chmod 755 ~/.netrc
      - uses: actions/checkout@v3
      - uses: nixbuild/nix-quick-install-action@v25
        with:
          github_access_token: ${{ secrets.GH_TOKEN }}
          nix_conf: |
            access-tokens = github.com=${{ secrets.GH_TOKEN }} api.github.com=${{ secrets.GH_TOKEN }}
            extra-trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
            extra-substituters = https://cache.iog.io
            accept-flake-config = true
            netrc-file = ~/.netrc
      - name: Restore and cache Nix store
        uses: nix-community/cache-nix-action@v1
        with:
          linux-gc-enabled: true
          linux-max-store-size: 8000000000
          key: cache-ubuntu-${{ hashFiles('**/*') }}
          restore-keys: |
            cache-ubuntu-
      - name: Setup .npmrc
        run: |
          echo "
          //nexus.p42.at/repository/npm-midnight/:_authToken=$NEXUS_TOKEN
          @midnight:registry=https://nexus.p42.at/repository/npm-midnight/

          //npm.pkg.github.com/:_authToken=$MIDNIGHTBOT_PACKAGES_WRITE
          @midnight-ntwrk:registry=https://npm.pkg.github.com/
          " > ./.npmrc
      - name: Build Wallet
        run: nix develop -c sbt jsInterop/stImport substrateClient/stImport walletZswapJS/stImport proverClientJS/stImport walletCoreJS/stImport walletEngine/stImport dist
      - name: Publish Wallet
        run: |
          cd wallet-engine
          nix develop -c yarn publish
      - name: Configure yarn
        run: |
          cd typescript
          yarn config set 'npmScopes.midnight.npmAuthToken' "$NEXUS_TOKEN"
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "$MIDNIGHTBOT_PACKAGES_WRITE"
      - name: Install typescript dependencies
        run: nix develop .#typescript --command yarn
      - name: Deploy typescript packages
        run: nix develop .#typescript --command yarn deploy
