name: CD

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

on:
  workflow_dispatch:
  push:
    tags: ['v*']

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest-8-core-x64
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  #v5.0.0

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'
          # This is required for the npm publish step
          token: ${{ env.MIDNIGHT_GH_TOKEN }}
          registry-url: 'https://npm.pkg.github.com'
          scope: '@midnight-ntwrk'

      - name: Enable corepack
        run: corepack enable

      - name: Check tool versions
        run: |
          node --version
          corepack --version
          yarn --version

      - name: Configure yarn
        run: |
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ env.MIDNIGHT_GH_TOKEN }}"

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Build
        run: yarn dist

      - name: Publish release
        run: |
          # yarn workspace @midnight-ntwrk/wallet npm publish || echo "Publishing @midnight-ntwrk/wallet failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-hd npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-hd failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-capabilities npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-capabilities failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-address-format npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-address-format failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-indexer-client npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-indexer-client failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-unshielded-state npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-unshielded-state failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-unshielded-wallet npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-unshielded-wallet failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-shielded npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-shielded failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-abstractions npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-abstractions failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-prover-client npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-prover-client failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-facade npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-facade failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-node-client npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-node-client failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-dust-wallet npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-dust-wallet failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-runtime npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-runtime failed"
          yarn workspace @midnight-ntwrk/wallet-sdk-utilities npm publish || echo "Publishing @midnight-ntwrk/wallet-sdk-utilities failed"
