name: CD

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

on:
  workflow_dispatch:
  push:
    tags: ['v*']

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest-8-core-x64
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version-file: '.tool-versions'
          cache: 'sbt'

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'
          token: ${{ env.MIDNIGHT_GH_TOKEN }}

      - uses: sbt/setup-sbt@v1

      - name: Install dependencies
        run: |
          yarn

      - name: Build Wallet
        run: |
          yarn dist

      - name: Publish Wallet
        run: |
          cd wallet-engine
          yarn npm publish
