name: CD

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

on:
  workflow_dispatch:
  push:
    tags: ['v*']

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest-8-core-x64
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version-file: '.tool-versions'
          cache: 'sbt'

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'
          # This is required for the npm publish step
          token: ${{ env.MIDNIGHT_GH_TOKEN }}
          registry-url: "https://npm.pkg.github.com"
          scope: "@midnight-ntwrk"

      - name: Configure yarn
        run: |
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ env.MIDNIGHT_GH_TOKEN }}"

      - uses: sbt/setup-sbt@v1

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Build
        run:  yarn dist

      - name: Publish release
        run: |
          yarn workspace @midnight-ntwrk/wallet npm publish || echo "Publishing @midnight-ntwrk/wallet failed" ;
          yarn workspace @midnight-ntwrk/wallet-sdk-hd npm publish --tolerate-republish || echo "Publishing @midnight-ntwrk/wallet-sdk-hd failed" ;
          yarn workspace @midnight-ntwrk/wallet-sdk-capabilities npm publish --tolerate-republish || echo "Publishing @midnight-ntwrk/wallet-sdk-capabilities failed" ;
          yarn workspace @midnight-ntwrk/wallet-sdk-address-format npm publish --tolerate-republish || echo "Publishing @midnight-ntwrk/wallet-sdk-address-format failed"
