name: Deploy dapp connector API

env:
  NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

on:
  workflow_dispatch:

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'yarn'
          cache-dependency-path: 'typescript/yarn.lock'

      - name: Install typescript dependencies
        run: |
          cd typescript
          yarn install

      - name: Deploy typescript packages
        run: |
          cd typescript
          yarn deploy
