name: CD Maven (JVM)

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }} # For sbt to download dependencies from Midnight org
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }} # For sbt to download dependencies from Midnight org
  IOG_GH_TOKEN: ${{ secrets.GH_TOKEN }} # For sbt to download ledger binaries from IOG org
  NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }} # Used by setup-node

on:
  push:
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version-file: '.tool-versions'
        cache: 'sbt'

    - uses: actions/setup-node@v4
      with:
        node-version-file: '.tool-versions'
        cache: 'yarn'
        cache-dependency-path: '**/yarn.lock'
        registry-url: 'https://npm.pkg.github.com'
        scope: '@midnight-ntwrk'
        always-auth: true

    - name: Publish Scala packages
      run: sbt blocJVM/publish blockchainJVM/publish proverClientJVM/publish walletZswapJVM/publish walletCoreJVM/publish
