name: CD Maven (JVM)

env:
  MIDNIGHT_GH_USER: ${{ github.actor }}
  GH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

on:
  push:
    tags: ['v*']
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Publish Scala packages
      run: sbt blocJVM/publish blockchainJVM/publish proverClientJVM/publish walletZswapJVM/publish walletCoreJVM/publish
