name: CI

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }} # For sbt to download dependencies from Midnight org
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }} # For sbt to download dependencies from Midnight org
  IOG_GH_TOKEN: ${{ secrets.GH_TOKEN }} # For sbt to download ledger binaries from IOG org
  NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }} # Used by setup-node

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

jobs:
  build:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version-file: '.tool-versions'
          cache: 'sbt'

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@midnight-ntwrk'
          always-auth: true

      - name: Configure yarn
        run: |
          cd typescript
          yarn config set npmScopes.midnight-ntwrk.npmAuthToken $NODE_AUTH_TOKEN
          yarn config set 'enableImmutableInstalls' false

      - name: Log in to GitHub Container registry
        uses: docker/login-action@v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

      - name: Check format and run tests
        run: |
          sbt verify
          sbt IntegrationTest/test
          sbt coverageAggregate

      - name: Test and build typescript packages
        run: |
          sbt dist
          cp ./wallet-engine/package.json ./wallet-engine/dist/
          cd typescript
          yarn install
          yarn build
          yarn lint

      - name: Publish Unit Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Scala Unit Tests Report
          path: |
            !(examples)/**/target/test-reports/TEST-*.xml
          reporter: java-junit

      - name: Publish Integration Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Scala Integration Tests Report
          path: |
            !(examples)/**/target/it-reports/TEST-*.xml
          reporter: java-junit

      - name: Publish Unit Test Summary
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: success() || failure()
        with:
          check_name: Scala Unit Tests Results
          files: |
            **/target/test-reports/TEST-*.xml
            !examples/node_modules/@midnight-ntwrk/wallet/target/test-reports/TEST-*.xml

      - name: Publish Integration Test Summary
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: success() || failure()
        with:
          check_name: Scala Integration Tests Results
          files: |
            **/target/it-reports/TEST-*.xml
            !examples/node_modules/@midnight-ntwrk/wallet/target/it-reports/TEST-*.xml

      - name: Upload Scala coverage report
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: scoverage-report
          path: target/scala-2.12/scoverage-report
