name: CI/CD

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  MIDNIGHT_REPO_USER: ${{ secrets.MIDNIGHT_REPO_USER }}
  MIDNIGHT_REPO_PASS: ${{ secrets.MIDNIGHT_REPO_PASS }}

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['**']
    tags: [v*]

jobs:
  build:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check format and run tests
      run: sbt verify
    - name: Cross build to Scala 3 and test
      run: sbt '++ 3.1.2 ogmiosSyncJS/test; ogmiosTxSubmissionJS/test'
