name: CI/CD

env:
  DOT_NPMRC: ${{ secrets.DOT_NPMRC }}
  MIDNIGHT_REPO_USER: ${{ secrets.MIDNIGHT_REPO_USER }}
  MIDNIGHT_REPO_PASS: ${{ secrets.MIDNIGHT_REPO_PASS }}

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

jobs:
  build:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v17
      with:
        nix_path: nixpkgs=channel:nixos-22.05
    - uses: bduff9/use-npmrc@v1.1
      with:
        dot-npmrc: ${{ secrets.DOT_NPMRC }}
    - name: Check format and run tests
      run: nix develop -k MIDNIGHT_REPO_USER -k MIDNIGHT_REPO_PASS -ic sbt verify
    - name: Wallet Engine integration tests
      run: nix develop -k MIDNIGHT_REPO_USER -k MIDNIGHT_REPO_PASS -ic sbt 'walletEngine / IntegrationTest / test'
    - name: Cross build to Scala 3 and test
      run: nix develop -k MIDNIGHT_REPO_USER -k MIDNIGHT_REPO_PASS -ic sbt '++ 3.1.2 ogmiosSyncJS/test; ogmiosTxSubmissionJS/test'
