name: Linting & Testing

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check format
      run: sbt scalafmtCheckAll
    - name: Run scapegoat
      run: sbt scapegoat
    - name: Run tests
      run: sbt coverage test coverageReport
