name: Linting & Testing

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  MIDNIGHT_REPO_USER: ${{ secrets.MIDNIGHT_REPO_USER }}
  MIDNIGHT_REPO_PASS: ${{ secrets.MIDNIGHT_REPO_PASS }}

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check format
      run: sbt scalafmtCheckAll
    - name: Run scapegoat
      run: sbt scapegoat
    - name: Run tests
      run: sbt coverage walletCore/test domain/test ogmiosSync/test coverageReport
