name: CI/CD

env:
  MIDNIGHT_REPO_USER: ${{ secrets.MIDNIGHT_REPO_USER }}
  MIDNIGHT_REPO_PASS: ${{ secrets.MIDNIGHT_REPO_PASS }}

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

jobs:
  build:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v17
      with:
        nix_path: nixpkgs=channel:nixos-22.05
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GH_TOKEN }}
          netrc-file = $HOME/.netrc
    - uses: bduff9/use-npmrc@v1.1
      with:
        dot-npmrc: ${{ secrets.DOT_NPMRC }}
    - name: Prepare .netrc to access other repos
      run: echo -e "machine github.com\nlogin git\npassword ${{ secrets.GH_TOKEN }}\n\nmachine api.github.com\nlogin git\npassword ${{ secrets.GH_TOKEN }}" > $HOME/.netrc && chmod 755 $HOME/.netrc
    - name: Check format and run tests
      run: nix develop -k MIDNIGHT_REPO_USER -k MIDNIGHT_REPO_PASS -ic sbt verify
    - name: Test Typescript client examples
      run: |
        nix develop -k MIDNIGHT_REPO_USER -k MIDNIGHT_REPO_PASS -ic sbt dist
        cd examples
        nix develop -ic yarn install --frozen-lockfile
        nix develop -ic yarn lint
        nix develop -ic yarn test
    - name: Cross build to Scala 3 and test
      run: nix develop -k MIDNIGHT_REPO_USER -k MIDNIGHT_REPO_PASS -ic sbt '++ 3.2.1 ouroborosSyncMiniProtocolJS/test; ouroborosTxSubmissionMiniProtocolJS/test'
