name: CI

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}
  ALLURE_ADMIN_USER: ${{ secrets.ALLURE_ADMIN_USER }}
  ALLURE_ADMIN_PASSWORD: ${{ secrets.ALLURE_ADMIN_PASSWORD }}
  NETWORK: undeployed
  DEPLOYMENT: local
  APP_INFRA_SECRET: ${{ secrets.APP_INFRA_SECRET }}

on:
  workflow_dispatch:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        id: setup-node
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: yarn.lock
          token: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Enable corepack
        run: corepack enable

      - name: Check tool versions
        run: |
          node --version
          corepack --version
          yarn --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Configure yarn
        run: |
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ env.MIDNIGHT_GH_TOKEN }}"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run dist
        run: yarn dist

      - name: Save turbo cache
        if: always()
        uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-build-${{ github.run_attempt }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v4
        if: always()
        with:
          name: build-artifacts-${{ github.run_id }}
          path: |
            packages/*/dist/**
            packages/*/tsconfig.*.tsbuildinfo

  general-checks:
    name: General Checks
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        id: setup-node
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: yarn.lock
          token: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Enable corepack
        run: corepack enable

      - name: Check tool versions
        run: |
          node --version
          corepack --version
          yarn --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Configure yarn
        run: |
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ env.MIDNIGHT_GH_TOKEN }}"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Restore turbo cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-general-${{ github.run_attempt }}
          restore-keys: |
            turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-general-
            turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-build-

      - name: Download build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v4
        with:
          name: build-artifacts-${{ github.run_id }}
          path: .

      # The following 3 steps are the equivalent of running `yarn verify:check`/`turbo verify:check`
      # They are separated into 3 steps to give better visibility of the errors in the ci.
      # Future changes to verify:check should be reflected in these steps.
      - name: Run typecheck
        run: yarn typecheck

      - name: Run format check
        run: yarn format:check

      - name: Run linter
        run: yarn lint

      - name: Save turbo cache
        if: always()
        uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-general-${{ github.run_attempt }}

  tests:
    name: Tests
    needs: [general-checks]
    runs-on: ubuntu-latest-16-core-x64
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        id: setup-node
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: yarn.lock
          token: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Enable corepack
        run: corepack enable

      - name: Check tool versions
        run: |
          node --version
          corepack --version
          yarn --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Configure yarn
        run: |
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ env.MIDNIGHT_GH_TOKEN }}"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Restore turbo cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-general-${{ github.run_attempt }}
          restore-keys: |
            turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-general-

      - name: Download build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v4
        with:
          name: build-artifacts-${{ github.run_id }}
          path: .

      - name: Run tests
        run: yarn test

      - name: Run smoke e2e tests
        run: |
          yarn dlx turbo test-undeployed -- -t @smoke

      - name: Create allure properties
        if: success() || failure()
        working-directory: ./packages/e2e-tests/allure-results
        run: |
          echo "
          env=${{ env.NETWORK }}
          tags=@smoke
          platform=Linux
          " > environment.properties

      - name: Send Results to Allure Server
        uses: robkatona/send-allure-results@v1.0.5
        if: ${{ always() }}
        with:
          allure-server-url: https://allure-server.prd.midnight.tools
          allure-results-directory: ./packages/e2e-tests/reports/allure-results
          project-id: headless-wallet-${{ env.NETWORK }}
          security-user: ${{ env.ALLURE_ADMIN_USER }}
          security-pass: ${{ env.ALLURE_ADMIN_PASSWORD }}

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # ratchet:mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          check_name: 'Test Results Wallet SDK'
          report_paths: |
            **/test-report*.xml

  build-publish:
    name: Build for Publishing
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        id: setup-node
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: yarn.lock
          token: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Enable corepack
        run: corepack enable

      - name: Check tool versions
        run: |
          node --version
          corepack --version
          yarn --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Configure yarn
        run: |
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ env.MIDNIGHT_GH_TOKEN }}"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run dist:publish
        run: yarn dist:publish

      - name: Save turbo cache
        if: always()
        uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-build-publish-${{ github.run_attempt }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v4
        if: always()
        with:
          name: build-publish-artifacts-${{ github.run_id }}
          path: |
            packages/*/dist/**
            packages/*/tsconfig.*.tsbuildinfo

  publish-checks:
    name: Publish Checks
    needs: [build-publish]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        id: setup-node
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: yarn.lock
          token: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Enable corepack
        run: corepack enable

      - name: Check tool versions
        run: |
          node --version
          corepack --version
          yarn --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Configure yarn
        run: |
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ env.MIDNIGHT_GH_TOKEN }}"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Restore turbo cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-build-publish-${{ github.run_attempt }}
          restore-keys: |
            turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-build-publish-

      - name: Download build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v4
        with:
          name: build-publish-artifacts-${{ github.run_id }}
          path: .
        continue-on-error: true

      - name: Run publint
        run: yarn publint
