name: CI/CD

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  MIDNIGHT_REPO_USER: ${{ secrets.MIDNIGHT_REPO_USER }}
  MIDNIGHT_REPO_PASS: ${{ secrets.MIDNIGHT_REPO_PASS }}

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['**']
    tags: [v*]

jobs:
  build:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Check format
      run: sbt scalafmtCheckAll
    - name: Run tests
      run: sbt coverage walletCore/test domainJS/test ogmiosSyncJS/test coverageReport
    - name: Cross build and test sync module to Scala 3
      run: sbt '++ 3.1.2 ogmiosSyncJS/test'

  publish:
    name: Publish
    needs: [build]
    if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v'))
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Publish
      run: sbt dist && cd wallet-core && yarn publish
