name: CI

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}
  ALLURE_ADMIN_USER: ${{ secrets.ALLURE_ADMIN_USER }}
  ALLURE_ADMIN_PASSWORD: ${{ secrets.ALLURE_ADMIN_PASSWORD }}
  NETWORK: undeployed
  DEPLOYMENT: local

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

jobs:
  build:
    name: Lint & Test
    runs-on: ubuntu-latest-8-core-x64
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version-file: '.tool-versions'
          cache: 'sbt'

      - uses: sbt/setup-sbt@v1

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'yarn'
          cache-dependency-path: yarn.lock
          token: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Log in to GitHub Container registry
        uses: docker/login-action@v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Build and check
        run: |
          yarn install
          sbt clean
          yarn verify

      - name: Publish Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Scala Unit Tests Report
          path: |
            !(examples)/**/target/test-reports/TEST-*.xml
          reporter: java-junit

      - name: Publish Test Summary
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: success() || failure()
        with:
          check_name: Scala Unit Tests Results
          files: |
            **/target/test-reports/TEST-*.xml
            !examples/node_modules/@midnight-ntwrk/wallet/target/test-reports/TEST-*.xml

      # scoverage disabled
      # - name: Upload Scala coverage report
      #   uses: actions/upload-artifact@v4
      #   if: success() || failure()
      #   with:
      #     name: scoverage-report
      #     path: target/scala-3.4.2/scoverage-report

      - name: Run smoke e2e tests
        run: |
          yarn dlx turbo test-e2e -- smoke.test.ts

      - name: Create allure properties
        if: success() || failure()
        working-directory: ./typescript/packages/e2e-tests/allure-results
        run: |
          echo "
          env=${{ env.NETWORK }}
          tags=@smoke
          deployment=${{ env.DEPLOYMENT }}
          platform=Linux
          " > environment.properties

      - name: Send Results to Allure Server
        uses: robkatona/send-allure-results@v1.0.5
        if: ${{ always() }}
        with:
          allure-server-url: https://allure-server.prd.midnight.tools
          allure-results-directory: ./typescript/packages/e2e-tests/allure-results
          project-id: headless-wallet-${{ env.DEPLOYMENT }}
          security-user: ${{ env.ALLURE_ADMIN_USER }}
          security-pass: ${{ env.ALLURE_ADMIN_PASSWORD }}

      - name: Publish Jest E2E Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Jest E2E Tests Report
          reporter: jest-junit
          path: |
            ./typescript/packages/e2e-tests/reports/report.xml
