name: CI

env:
  MIDNIGHT_REPO_USER: ${{ secrets.MIDNIGHT_REPO_USER }}
  MIDNIGHT_REPO_PASS: ${{ secrets.MIDNIGHT_REPO_PASS }}
  MIDNIGHT_GH_USER: ${{ github.actor }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NEXUS_TOKEN: ${{ secrets.NEXUS_TOKEN }}
  MIDNIGHTBOT_PACKAGES_WRITE: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

on:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

jobs:
  build:
    name: Lint & Test
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Prepare .netrc to access other repos
        run: echo -e "machine github.com\nlogin git\npassword ${{ secrets.GH_TOKEN }}\n\nmachine api.github.com\nlogin git\npassword ${{ secrets.GH_TOKEN }}" > ~/.netrc && chmod 755 ~/.netrc
      - uses: actions/checkout@v3
      - uses: nixbuild/nix-quick-install-action@v25
        with:
          github_access_token: ${{ secrets.GH_TOKEN }}
          nix_conf: |
            access-tokens = github.com=${{ secrets.GH_TOKEN }} api.github.com=${{ secrets.GH_TOKEN }}
            extra-trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
            extra-substituters = https://cache.iog.io
            accept-flake-config = true
            netrc-file = ~/.netrc
      - name: Restore and cache Nix store
        uses: nix-community/cache-nix-action@v4
        with:
          gc-linux: true
          gc-max-store-size-linux: 8000000000
          key: cache-ubuntu-${{ hashFiles('**/*') }}
          restore-keys: |
            cache-ubuntu-
      - name: Setup .npmrc
        run: |
          echo "
          //nexus.p42.at/repository/npm-midnight/:_authToken=$NEXUS_TOKEN
          //npm.pkg.github.com/:_authToken=$MIDNIGHTBOT_PACKAGES_WRITE
          " >> ./.npmrc
      - name: Log in to IOG Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: 'https://registry.ci.iog.io'
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Log in to GitHub Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: 'https://ghcr.io'
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}
      - name: Check format and run tests
        run: |
          nix fmt -- -c flake.nix
          nix develop -c sbt verify
          nix develop -c sbt IntegrationTest/test
          nix develop -c sbt coverageAggregate
      - name: Configure yarn
        run: |
          cd typescript
          yarn config set 'npmScopes.midnight.npmAuthToken' "$NEXUS_TOKEN"
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "$MIDNIGHTBOT_PACKAGES_WRITE"
          echo 'enableImmutableInstalls: false' >> ./.yarnrc.yml
      - name: Test and build typescript packages
        run: |
          nix develop -c sbt dist
          # cp ./wallet-engine/package.json ./wallet-engine/dist/
          nix develop .#typescript --command yarn
          nix develop .#typescript --command yarn build
          nix develop .#typescript --command yarn lint
          nix develop .#typescript --command yarn test
      - name: Docker setup buildx
        if: github.ref == 'refs/heads/main'
        uses: docker/setup-buildx-action@v2.5.0
        with:
          platforms: linux/arm/v7,linux/arm/v8,linux/arm64,linux/amd64,linux/386 # optional
      - name: Create multiplatform image and push
        if: github.ref == 'refs/heads/main'
        run: |
          docker buildx build \
          --platform linux/arm/v7,linux/arm/v8,linux/arm64,linux/amd64,linux/386 \
          -t registry.ci.iog.io/midnight-wallet-server:latest \
          -t registry.ci.iog.io/midnight-wallet-server:${{ github.head_ref || github.ref_name }} \
          --push .
      - name: Publish wallet TS Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Wallet TS packages Jest Tests Report
          path: |
            ./typescript/**/reports/report.xml
          reporter: jest-junit
      - name: Publish Unit Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Scala Unit Tests Report
          path: |
            !(examples)/**/target/test-reports/TEST-*.xml
          reporter: java-junit
      - name: Publish Integration Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Scala Integration Tests Report
          path: |
            !(examples)/**/target/it-reports/TEST-*.xml
          reporter: java-junit
      - name: Publish Wallet TS Test Summary
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: success() || failure()
        with:
          check_name: Wallet TS Packages Jest Tests Results
          files: |
            ./typescript/**/reports/report.xml
            !(node_modules)/**/reports/report.xml
      - name: Publish Unit Test Summary
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: success() || failure()
        with:
          check_name: Scala Unit Tests Results
          files: |
            **/target/test-reports/TEST-*.xml
            !examples/node_modules/@midnight-ntwrk/wallet/target/test-reports/TEST-*.xml
      - name: Publish Integration Test Summary
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: success() || failure()
        with:
          check_name: Scala Integration Tests Results
          files: |
            **/target/it-reports/TEST-*.xml
            !examples/node_modules/@midnight-ntwrk/wallet/target/it-reports/TEST-*.xml
      - name: Upload Scala coverage report
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: scoverage-report
          path: target/scala-2.12/scoverage-report
      - name: Aggregate wallet TS coverage reports
        run: |
          rm -rf typescript/coverage
          mkdir -p typescript/coverage/workspaces
          nix develop .#typescript --command yarn workspaces foreach -Apv exec bash -c '[ ! -f coverage/coverage-final.json ] && exit 0 || cp coverage/coverage-final.json '$(pwd)'/typescript/coverage/workspaces/$(basename $(pwd))-coverage-final.json'
          nix develop .#typescript --command yarn run nyc merge coverage/workspaces coverage/monorepo-coverage.json
          nix develop .#typescript --command yarn run nyc report -t coverage --report-dir coverage/html --reporter=html

      - name: Merge report
        working-directory: typescript
        run: |
          #ArtiomTr/jest-coverage-report-action@v2 has a bug, this is temp solution
          mv coverage coverage_$(date +"%Y%m%d%H%M%S")

      - name: Upload TS coverage report
        uses: actions/upload-artifact@v3
        with:
          name: wallet-ts-coverage-report
          path: typescript/coverage*
