name: E2E tests

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}
  ALLURE_ADMIN_USER: ${{ secrets.ALLURE_ADMIN_USER }}
  ALLURE_ADMIN_PASSWORD: ${{ secrets.ALLURE_ADMIN_PASSWORD }}
  SEED_STABLE: ${{ secrets.E2E_TESTS_SEED_STABLE }}
  SYNC_CACHE: ${{ github.workspace }}/packages/e2e-tests/.sync_cache

  APP_INFRA_SECRET: ${{ secrets.APP_INFRA_SECRET }}

on:
  workflow_dispatch:
    inputs:
      network:
        type: choice
        description: Midnight network to use
        required: true
        default: 'preview'
        options:
          - qanet
          - testnet
          - preview
          - prepod
      seed:
        type: string
        description: Seed of a funded wallet (leave empty to use secret default)
        required: false
      seed2:
        type: string
        description: Seed of another receiving wallet (leave empty to use secret default)
        required: false
      nt_seed:
        type: string
        description: Seed of a funded wallet with native tokens (leave empty to use secret default)
        required: false
      nt_seed2:
        type: string
        description: Seed of another receiving wallet for native tokens (leave empty to use secret default)
        required: false
      modifier:
        type: string
        description: Suite or a testname to run (refer to Jest docs)
        required: false
      branch:
        type: string
        description: Branch to run the tests against
        required: false
        default: 'main'
  workflow_call:
    inputs:
      network:
        type: string
        description: Midnight network to use (testnet/devnet/undeployed)
        required: true
        default: 'devnet'
      seed:
        type: string
        description: Seed of a funded wallet
        required: false
      seed2:
        type: string
        description: Seed of another receiving wallet
        required: false
      nt_seed:
        type: string
        description: Seed of a funded wallet with native tokens
        required: false
      nt_seed2:
        type: string
        description: Seed of another receiving wallet for native tokens
        required: false
      modifier:
        type: string
        description: Suite or a testname to run (refer to Jest docs)
        required: false
      branch:
        type: string
        description: Branch to run the tests against
        required: false
        default: 'main'
    secrets:
      GH_USERNAME:
        required: true
      MIDNIGHTBOT_PACKAGES_WRITE:
        required: true
      ALLURE_ADMIN_USER:
        required: true
      ALLURE_ADMIN_PASSWORD:
        required: true
      APP_INFRA_SECRET:
        required: true
      E2E_TESTS_SEED:
        required: true
      E2E_TESTS_SEED2:
        required: true
      E2E_TESTS_NT_SEED:
        required: true
      E2E_TESTS_NT_SEED2:
        required: true

permissions: {}

jobs:
  build:
    name: E2E tests
    runs-on: ubuntu-latest-8-core-x64
    timeout-minutes: 120
    permissions: write-all
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          ref: ${{ inputs.branch }}

      # - name: Determine the latest successful run ID with appropriate artifact
      #   continue-on-error: true
      #   env:
      #     GITHUB_TOKEN: ${{ env.MIDNIGHT_GH_TOKEN }}
      #   run: |
      #       LATEST_RUN_ID=$(./.github/scripts/find_run_id.sh ${{ github.repository }} "Healthcheck - ${{ inputs.deployment }}" ".sync_cache")
      #       echo "LATEST_RUN_ID=$LATEST_RUN_ID" >> $GITHUB_ENV
      #       mkdir -p ${{ env.SYNC_CACHE }}

      # - uses: actions/download-artifact@v4
      #   continue-on-error: true
      #   with:
      #     run-id: ${{ env.LATEST_RUN_ID }}
      #     path: ${{ env.SYNC_CACHE }}
      #     github-token: ${{ env.MIDNIGHT_GH_TOKEN }}
      #     name: .sync_cache

      - name: Debug
        run: ls -a -R ./packages/e2e-tests

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          cache-dependency-path: yarn.lock
          token: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Enable corepack
        run: corepack enable

      - name: Check tool versions
        run: |
          node --version
          corepack --version
          yarn --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Configure yarn
        run: |
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ env.MIDNIGHT_GH_TOKEN }}"

      - name: Build wallet and install dependencies
        run: |
          yarn install
          yarn turbo dist

      - name: Run e2e tests
        env:
          NETWORK: ${{ inputs.network }}
          SEED: ${{ inputs.seed || secrets.E2E_TESTS_SEED }}
          SEED2: ${{ inputs.seed2 || secrets.E2E_TESTS_SEED2 }}
          SEED_STABLE: ${{ env.SEED_STABLE }}
          NT_SEED: ${{ inputs.nt_seed || secrets.E2E_TESTS_NT_SEED }}
          NT_SEED2: ${{ inputs.nt_seed2 || secrets.E2E_TESTS_NT_SEED2 }}
          SYNC_CACHE: ${{ env.SYNC_CACHE }}
          APP_INFRA_SECRET: ${{ env.APP_INFRA_SECRET }}
        run: |
          yarn turbo test-remote -- ${{ inputs.modifier }}

      - name: Upload sync cache
        if: success() || failure()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v5.0.0
        with:
          name: .sync_cache
          path: ${{ env.SYNC_CACHE }}
          include-hidden-files: true

      - name: Create allure properties
        if: success() || failure()
        working-directory: ./packages/e2e-tests/allure-results
        run: |
          echo "
          env=${{ inputs.network }}
          tags=${{ inputs.modifier }}
          platform=Linux
          " > environment.properties

      - name: Send Results to Allure Server
        uses: robkatona/send-allure-results@935714d2ab2c0de7b15a9d3e29a0cffe0fa64c59 #v1.0.5
        if: ${{ always() }}
        with:
          allure-server-url: https://allure-server.prd.midnight.tools
          allure-results-directory: ./packages/e2e-tests/reports/allure-results
          project-id: headless-wallet-${{ inputs.NETWORK }}-nightly
          security-user: ${{ env.ALLURE_ADMIN_USER }}
          security-pass: ${{ env.ALLURE_ADMIN_PASSWORD }}

      - name: Generate allure report
        if: success() || failure()
        working-directory: ./packages/e2e-tests
        run: |
          yarn allure-generate

      - name: Publish artifacts (test reports)
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v5.0.0
        if: success() || failure()
        with:
          name: test-reports
          path: |
            ./packages/e2e-tests/reports/allure-report
          retention-days: 30

      - name: Publish wallet TS Test Report
        uses: dorny/test-reporter@fe45e9537387dac839af0d33ba56eed8e24189e8 #v1
        if: success() || failure()
        with:
          name: Wallet TS packages Junit Tests Report
          reporter: java-junit
          path: |
            ./packages/e2e-tests/reports/test-report.xml
