name: E2E tests - local - nodejs

on:
  workflow_dispatch:
  schedule:
    - cron: '45 8 * * *'

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}
  ALLURE_ADMIN_USER: ${{ secrets.ALLURE_ADMIN_USER }}
  ALLURE_ADMIN_PASSWORD: ${{ secrets.ALLURE_ADMIN_PASSWORD }}
  NETWORK: 'undeployed'
  DEPLOYMENT: 'local'
  APP_INFRA_SECRET: ${{ secrets.APP_INFRA_SECRET }}

permissions: {}

jobs:
  test:
    name: E2E tests
    runs-on: ubuntu-latest-8-core-x64
    timeout-minutes: 80
    permissions: write-all
    strategy:
      fail-fast: false
      matrix:
        version: [20, 22]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        with:
          node-version: ${{ matrix.version }}
          cache: 'yarn'
          cache-dependency-path: yarn.lock
          token: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Log in to GitHub Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Configure yarn
        run: |
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ env.MIDNIGHT_GH_TOKEN }}"

      - name: Build wallet and install dependencies
        run: |
          yarn install
          yarn turbo dist

      - name: Run e2e tests
        run: |
          yarn turbo test-undeployed

      - name: Create allure properties
        if: success() || failure()
        working-directory: ./packages/e2e-tests/allure-results
        run: |
          echo "
          env=${{ env.NETWORK }}
          runtime=nodejs-${{ matrix.version }}
          platform=Linux
          " > environment.properties

      - name: Send Results to Allure Server
        uses: robkatona/send-allure-results@935714d2ab2c0de7b15a9d3e29a0cffe0fa64c59 # v1.0.5
        if: ${{ always() }}
        with:
          allure-server-url: https://allure-server.prd.midnight.tools
          allure-results-directory: ./packages/e2e-tests/reports/allure-results
          project-id: headless-wallet-${{ env.NETWORK }}
          security-user: ${{ env.ALLURE_ADMIN_USER }}
          security-pass: ${{ env.ALLURE_ADMIN_PASSWORD }}

      - name: Generate allure report
        if: success() || failure()
        working-directory: ./packages/e2e-tests
        run: |
          yarn allure-generate

      - name: Publish artifacts (test reports)
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v5.0.0
        if: success() || failure()
        with:
          name: test-reports-nodejs-${{ matrix.version }}
          path: |
            ./packages/e2e-tests/reports/allure-report
          retention-days: 30

      - name: Publish wallet TS Test Report
        uses: dorny/test-reporter@fe45e9537387dac839af0d33ba56eed8e24189e8 #v1
        if: success() || failure()
        with:
          name: Wallet TS packages Junit Tests Report
          reporter: java-junit
          path: |
            ./packages/e2e-tests/reports/test-report.xml
