name: E2E tests

env:
  MIDNIGHT_GH_USER: ${{ github.actor }} # For sbt to download dependencies from Midnight org
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }} # For sbt to download dependencies from Midnight org
  NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}
  ALLURE_ADMIN_USER: ${{ secrets.ALLURE_ADMIN_USER }}
  ALLURE_ADMIN_PASSWORD: ${{ secrets.ALLURE_ADMIN_PASSWORD }}
  HALO2_ADDRESSES: ${{ vars.HALO2_ADDRESSES }}
  CRYPTO: ${{ (inputs.deployment == 'devnet' || inputs.deployment == 'ariadne-qa') && 'plonk' || 'halo2' }}

on:
  workflow_dispatch:
    inputs:
      network:
        type: choice
        description: Midnight network to use
        required: true
        default: 'devnet'
        options:
          - devnet
          - testnet
          - undeployed
      deployment:
        type: choice
        description: Midnight deployment to use
        required: true
        default: 'halo2-qa'
        options:
          - local
          - ariadne-qa
          - halo2-qa
          - hardfork-qa
          - devnet
          - testnet
      seed:
        type: string
        description: Seed of a funded wallet
        required: false
        default: 72a64b0e55d6f9e60a042d5337c17ffc1ba5f3a704845bd875fc3ba75eb701ed
      seed2:
        type: string
        description: Seed of another receiving wallet
        required: false
        default: db08516f526eb85dca7e14e31a27bd2b223f209dcc643f974c179ca400ecbc1a
      nt_seed:
        type: string
        description: Seed of a funded wallet with native tokens
        required: false
        default: aeb5e5d3d151cb4a76ae59a0cb013503daae4cb4ab2242ad10a1923c78ec0d83
      nt_seed2:
        type: string
        description: Seed of another receiving wallet for native tokens
        required: false
        default: 05e5124a8a085facc863d689db4d0518604aa9d713557679fad00f69ee1daefe
      modifier:
        type: string
        description: Suite or a testname to run (refer to Jest docs)
        required: false
  workflow_call:
    inputs:
      network:
        type: string
        description: Midnight network to use (testnet/devnet/undeployed)
        required: true
        default: 'devnet'
      deployment:
        type: string
        description: Midnight deployment to use (ariadne-qa/halo2-qa/hardfork-qa/devnet/testnet/local)
        required: true
        default: 'halo2-qa'
      seed:
        type: string
        description: Seed of a funded wallet
        required: false
      seed2:
        type: string
        description: Seed of another receiving wallet
        required: false
      nt_seed:
        type: string
        description: Seed of a funded wallet with native tokens
        required: false
      nt_seed2:
        type: string
        description: Seed of another receiving wallet for native tokens
        required: false
      modifier:
        type: string
        description: Suite or a testname to run (refer to Jest docs)
        required: false
    secrets:
      GH_TOKEN:
        required: true
      GH_USERNAME:
        required: true
      MIDNIGHTBOT_PACKAGES_WRITE:
        required: true
      ALLURE_ADMIN_USER:
        required: true
      ALLURE_ADMIN_PASSWORD:
        required: true

jobs:
  build:
    name: E2E tests
    runs-on: ubuntu-latest-16-cores
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        if: env.CRYPTO == 'halo2'

      - uses: actions/checkout@v4
        if: env.CRYPTO == 'plonk'
        with:
          ref: plonk-healthcheck

      - name: Download the latest sync_cache
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
            LATEST_RUN_ID=$(gh run list --workflow="Healthcheck - ${{ inputs.deployment }}" --json databaseId,status,headBranch | jq -r '.[] | select(.status=="completed") | .databaseId' | head -n 1)
            gh run download $LATEST_RUN_ID
            ls -al
            mv .sync_cache ./typescript/packages/e2e-tests/.sync_cache

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version-file: '.tool-versions'
          cache: 'sbt'

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'

      - name: Log in to GitHub Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: 'https://ghcr.io'
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

      - name: Build wallet and install dependencies
        if: ${{ inputs.deployment == 'local' }}
        run: |
          sbt dist
          cd typescript
          yarn install --immutable

      - name: Install dependencies
        if: ${{ inputs.deployment != 'local' }}
        run: |
          cd typescript
          yarn install --immutable

      - name: Run e2e tests
        env:
          NETWORK: ${{ inputs.network }}
          DEPLOYMENT: ${{ inputs.deployment }}
          SEED: ${{ inputs.seed }}
          SEED2: ${{ inputs.seed2 }}
          NT_SEED: ${{ inputs.nt_seed }}
          NT_SEED2: ${{ inputs.nt_seed2 }}
        run: |
          cd typescript
          yarn test-e2e -- ${{ inputs.modifier }}

      - name: Upload sync cache
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: .sync_cache
          path: ./typescript/packages/e2e-tests/.sync_cache
          include-hidden-files: true

      - name: Create allure properties
        if: success() || failure()
        working-directory: ./typescript/packages/e2e-tests/allure-results
        run: |
          echo "
          env=${{ inputs.network }}
          tags=${{ inputs.modifier }}
          deployment=${{ inputs.deployment }}
          platform=Linux
          " > environment.properties

      - name: Send Results to Allure Server
        uses: robkatona/send-allure-results@v1.0.2
        if: ${{ always() }}
        with:
          allure-server-url: https://allure-server.prd.midnight.tools
          allure-results-directory: ./typescript/packages/e2e-tests/allure-results
          project-id: headless-wallet-${{ inputs.deployment }}
          security-user: ${{ secrets.ALLURE_ADMIN_USER }}
          security-pass: ${{ secrets.ALLURE_ADMIN_PASSWORD }}

      - name: Generate allure report
        if: success() || failure()
        working-directory: ./typescript/packages/e2e-tests
        run: |
          yarn allure-generate

      - name: Publish artifacts (test reports)
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-reports
          path: |
            ./typescript/packages/e2e-tests/reports/allure-report
          retention-days: 30

      - name: Publish wallet TS Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Wallet TS packages Jest Tests Report
          reporter: jest-junit
          path: |
            ./typescript/packages/e2e-tests/reports/report.xml
