name: E2E tests - local - bun

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '45 9 * * *'

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}
  BUN_AUTH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}
  ALLURE_ADMIN_USER: ${{ secrets.ALLURE_ADMIN_USER }}
  ALLURE_ADMIN_PASSWORD: ${{ secrets.ALLURE_ADMIN_PASSWORD }}
  NETWORK: "undeployed"
  DEPLOYMENT: "local"

jobs:
  test:
    name: E2E tests
    runs-on: ubuntu-latest-8-core-x64
    timeout-minutes: 80
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version-file: ".tool-versions"
          cache: "sbt"

      - uses: sbt/setup-sbt@v1

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"
          cache-dependency-path: yarn.lock
          token: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Enable corepack
        run: corepack enable

      - name: Check tool versions
        run: |
          node --version
          corepack --version
          yarn --version

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registry-url: "https://npm.pkg.github.com/"
          scope: "@midnight-ntwrk"

      - name: Log in to GitHub Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: "https://ghcr.io"
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Build wallet and install dependencies
        run: |
          yarn
          rm yarn.lock
          ./update_package_manager.sh
          bun install --yarn
          bun turbo dist

      - name: Run e2e tests
        run: |
          bun turbo run test-undeployed

      - name: Create allure properties
        if: success() || failure()
        working-directory: ./packages/e2e-tests/allure-results
        run: |
          echo "
          env=${{ env.NETWORK }}
          deployment=${{ env.DEPLOYMENT }}
          runtime=bun-latest
          platform=Linux
          " > environment.properties

      - name: Send Results to Allure Server
        uses: robkatona/send-allure-results@v1.0.5
        if: ${{ always() }}
        with:
          allure-server-url: https://allure-server.prd.midnight.tools
          allure-results-directory: ./packages/e2e-tests/reports/allure-results
          project-id: headless-wallet-${{ env.DEPLOYMENT }}
          security-user: ${{ env.ALLURE_ADMIN_USER }}
          security-pass: ${{ env.ALLURE_ADMIN_PASSWORD }}

      - name: Generate allure report
        if: success() || failure()
        working-directory: ./packages/e2e-tests
        run: |
          bun allure-generate

      - name: Publish artifacts (test reports)
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-reports
          path: |
            ./packages/e2e-tests/reports/allure-report
          retention-days: 30

      - name: Publish wallet TS Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Wallet TS packages Junit Tests Report
          reporter: java-junit
          path: |
            ./packages/e2e-tests/reports/test-report.xml
