name: Fund test wallets

env:
    NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

on:
    workflow_dispatch:
      inputs:
        network:
          type: choice
          description: Midnight network to use
          required: true
          default: 'devnet'
          options:
            - devnet
            - testnet
        deployment:
          type: choice
          description: Midnight deployment to use
          required: true
          default: 'halo2-qa'
          options:
            - halo2-qa
            - hardfork-qa
            - devnet
            - testnet

jobs:
    runScript:
        name: Run funding script
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4 

            - uses: actions/setup-node@v4
              with:
                node-version-file: '.tool-versions'
                cache: 'yarn'
                cache-dependency-path: 'typescript/yarn.lock'

            - name: Log in to GitHub Container registry
              uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
              with:
                registry: 'https://ghcr.io'
                username: ${{ secrets.GH_USERNAME }}
                password: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

            - name: Run funding script for devnet envs
              if: env.NETWORK == 'devnet'
              env:
                NETWORK: ${{ inputs.network }}
                DEPLOYMENT: ${{ inputs.deployment }}
                SEED: ${{ secrets.FAUCET_SEED_HALO2 }}
                SEED_STABLE: ${{ secrets.SEED_STABLE }}
                ADDRESSES: ${{ vars.HALO2_ADDRESSES }}
              run: |
                cd typescript
                yarn install --immutable
                yarn test-e2e -- packages/e2e-tests/src/tests/fundTestWallets.test.ts
            
            - name: Run funding script for testnet envs
              if: env.NETWORK == 'testnet'
              env:
                NETWORK: ${{ inputs.network }}
                DEPLOYMENT: ${{ inputs.deployment }}
                SEED: ${{ secrets.FAUCET_SEED_TESTNET }}
                SEED_STABLE: ${{ secrets.SEED_STABLE }}
                ADDRESSES: ${{ vars.TESTNET_ADDRESSES }}
              run: |
                cd typescript
                yarn install --immutable
                yarn test-e2e -- packages/e2e-tests/src/tests/fundTestWallets.test.ts
