name: Fund a wallet on all envs

env:
    SEED: ${{ secrets.FAUCET_SEED }}
    NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

on:
    workflow_dispatch:
      inputs:
        wallet_address:
          type: string
          description: Wallet address to fund
          required: true


jobs:
    runScript:
        name: Run funding script
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                node-version-file: '.tool-versions'
                cache: 'yarn'
                cache-dependency-path: 'typescript/yarn.lock'

            - name: Log in to GitHub Container registry
              uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
              with:
                registry: 'https://ghcr.io'
                username: ${{ secrets.GH_USERNAME }}
                password: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

            - name: Install deps
              run: |
                cd typescript
                yarn workspace @midnight/wallet-e2e-tests remove @midnight-ntwrk/wallet_built
                yarn install --no-immutable

            - name: Run funding script for devnet
              env:
                NETWORK: devnet
                DEPLOYMENT: devnet
                WALLET_ADDRESS: ${{ inputs.wallet_address }}
              run: |
                cd typescript
                yarn test-e2e -- packages/e2e-tests/src/tests/fundTestWalletAcrossEnvs.test.ts

            - name: Run funding script for ariadne-qa
              env:
                NETWORK: devnet
                DEPLOYMENT: ariadne-qa
                WALLET_ADDRESS: ${{ inputs.wallet_address }}
              run: |
                cd typescript
                yarn test-e2e -- packages/e2e-tests/src/tests/fundTestWalletAcrossEnvs.test.ts
