name: Fund test wallets

env:
    SEED: ${{ secrets.FAUCET_SEED_HALO2 }}
    NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}
    HALO2_ADDRESSES: ${{ vars.HALO2_ADDRESSES }}

on:
    workflow_dispatch:
      inputs:
        deployment:
          type: choice
          description: Midnight deployment to use
          required: true
          default: 'halo2-qa'
          options:
            - halo2-qa
            - ariadne-qa
            - devnet

jobs:
    runScript:
        name: Run funding script
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              if: inputs.deployment == 'halo2-qa'
    
            - uses: actions/checkout@v4
              if: inputs.deployment != 'halo2-qa'
              with:
                ref: plonk-healthcheck

            - uses: actions/setup-node@v4
              with:
                node-version-file: '.tool-versions'
                cache: 'yarn'
                cache-dependency-path: 'typescript/yarn.lock'

            - name: Log in to GitHub Container registry
              uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
              with:
                registry: 'https://ghcr.io'
                username: ${{ secrets.GH_USERNAME }}
                password: ${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}

            - name: Run funding script
              env:
                NETWORK: devnet
                DEPLOYMENT: ${{ inputs.deployment }}
              run: |
                cd typescript
                yarn workspace @midnight/wallet-e2e-tests remove @midnight-ntwrk/wallet_built
                yarn install --no-immutable
                yarn test-e2e -- packages/e2e-tests/src/tests/fundTestWallets.test.ts
