name: Scala CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run scalafmt
      run: sbt scalafmtCheckAll
    - name: Run tests
      run: sbt test

